<div class="center jumbotron">
  <h1>Welcome to UR Event Feed</h1>

  <h2>
    The hottest web application at the University of Rochester!
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("UR_BUZZ_Logo.png", alt: "UR BUZZ logo")%>