  <div id="<%= @micropost.id%>">
  <% if current_user.attending?(@micropost) %>
    <%= render 'microposts/unattend.html.erb'%>
  <% else %>
  	<%= render 'microposts/attend.html.erb'%>
  <% end %>
  </div>